<a href="https://colab.research.google.com/github/sarahJune1/BUS509_sachss/blob/main/notebooks/Module_4/Introduction_to_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import statsmodels.api as sm
import pandas as pd
import random

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Probability

Express conditional probability:

In [2]:
def random_child():
  # choose a random number either 0 or 1, boy = 0, girl = 1
  return random.choice([0,1])

In [3]:
# establish baseline to add to

both_girls = 0
older_girl = 0
either_girl = 0

Make sure to set a seed, this allows for reproducible code and research. The seed establishes the starting point in the random sequence taken by the random package and will start from that initial point every time. Similar to setting the seed in minecraft to establish the random generated world to create.

In [4]:
# set seed
random.seed(42)

In [5]:
# run a simulation

for _ in range(1000):
    younger = random_child()
    older = random_child()
    if older == 1:
        older_girl += 1
    if older == 1 and younger == 1:
        both_girls += 1
    if older == 1 or younger == 1:
        either_girl += 1

In [9]:
# calcualte the conditional probabilities

# probability both are girls given the older child is a girl
print("P(both | older):", both_girls / older_girl)

# probability both are girls given either the first or second child is a girl
print("P(both | either):", both_girls / either_girl)

P(both | older): 0.5155038759689923
P(both | either): 0.3468057366362451

Can confirm looking at each of the joint probabilities.

In [12]:
print("P(at least one girl):", either_girl/1000) # roughly 75% or 3/4 probability that there is at least one girl
print("P(both girls):", both_girls/1000)  # roughly 25% or 1/4 probability that both children are girls
print("P(first child is a girl):", older_girl/1000)  # roughly 50% or 1/2 probability that the first child is a girl

P(at least one girl): 0.767
P(both girls): 0.266
P(first child is a girl): 0.516

In [ ]:
# back to slide deck

# Real World Data

### Contingency Tables

https://vincentarelbundock.github.io/Rdatasets/doc/AER/GrowthDJ.html

Determinants of Economic Growth

oil
factor. Is the country an oil-producing country?

inter
factor. Does the country have better quality data?

oecd
factor. Is the country a member of the OECD?

Let's investigate the probability of having better quality data given the county being a member of the OECD.

In [13]:
df = sm.datasets.get_rdataset("GrowthDJ", 'AER').data
df.head()

  oil inter oecd   gdp60  ...  popgrowth  invest  school  literacy60
0  no   yes   no  2485.0  ...        2.6    24.1     4.5        10.0
1  no    no   no  1588.0  ...        2.1     5.8     1.8         5.0
2  no    no   no  1116.0  ...        2.4    10.8     1.8         5.0
3  no   yes   no   959.0  ...        3.2    28.3     2.9         NaN
4  no    no   no   529.0  ...        0.9    12.7     0.4         2.0

[5 rows x 10 columns]

In [14]:
df.shape

(121, 10)

In [24]:
# create contingency table
data_crosstab = pd.crosstab(df['oecd'],
                            df['inter'], 
                               margins = False)

In [25]:
data_crosstab

inter  no  yes
oecd
no     46   53
yes     0   22

In [17]:
# take sum across columns
data_crosstab['no'].sum()

46

In [18]:
data_crosstab['yes'].sum()

75

In [19]:
# take sum across rows
data_crosstab.loc['no'].sum()

99

In [20]:
data_crosstab.loc['yes'].sum()

22

In [21]:
# Calculate the conditional probability
data_crosstab.loc['yes'].sum()/ data_crosstab['yes'].sum()

0.29333333333333333

We can also calculate this without creating a contingency table by using the groupby function.

In [26]:
# groupby the independent variable, calculate the probabilities 
inter_probs = df.groupby('inter').size().div(len(df)) # take the sum of each category and divide by number of observations

df.groupby(['inter','oecd']).size().div(len(df)).div(inter_probs, axis=0, level='inter')

inter  oecd
no     no      1.000000
yes    no      0.706667
       yes     0.293333
dtype: float64

In [27]:
inter_probs

inter
no     0.380165
yes    0.619835
dtype: float64

In [28]:
# create joint probability table by dividing each cell by total number of outcomes

joint_probtab = data_crosstab.div(len(df))
joint_probtab

inter        no       yes
oecd
no     0.380165  0.438017
yes    0.000000  0.181818